<div class="container">
  <div class="section">
    <div class="title">My (Learning) Projects</div>
    <div class="content">
      <p>
        As a software developer, I constantly learn new things and try to keep
        up with the latest technologies.
      </p>
      <p>
        Here you find a overview of the projects I learned or worked on. They
        center around Web Development, C# and Cloud Technologies.
      </p>
    </div>
  </div>

  <div class="columns is-multiline">
    <div *ngFor="let project of projects" class="column is-one-third">
      <app-project-card [data]="project"
        ><div [innerHTML]="project.content"></div>
      </app-project-card>
    </div>
  </div>
</div>
