<div class="container">
  <div class="section">
    <div class="title">My (Learning) Projects</div>
    <div class="content">
      <p>
        As a software developer, I constantly learn new things and to try keep
        up with the latest technologies. Here you find a overview of the things
        I learned or worked on.
      </p>
      <p>
        I know, most of this site does not really show actual coding projects
        that lead to particular useful or innovative applications. It rather
        summarizes all the small and big coding classes I participated in.
        Wherever possible I try to link a Github repo. My learning projects
        center around C#, Web development and Cloud Technologies.
      </p>
    </div>
  </div>

  <div class="columns is-multiline">
    <div *ngFor="let project of projects" class="column is-one-third">
      <app-project-card [data]="project"
        ><div [innerHTML]="project.content"></div>
      </app-project-card>
    </div>
  </div>
</div>
