<div class="card">
  <a *ngIf="Data?.Link" [href]="Data?.Link" target="_blank">
    <header class="card-header">
      <span class="icon-text card-header-title">
        <span class="icon">
          <i class="material-symbols-outlined">location_on</i>
        </span>
        <span> {{ Data?.Title }} </span>
      </span>
    </header>
  </a>
  <header *ngIf="!Data?.Link" class="card-header">
    <p class="card-header-title">{{ Data?.Title }}</p>
  </header>

  <div class="card-content">
    <h4>{{ Data?.ContentTitle }}</h4>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div>
      <app-tag-list [Tags]="Data?.Tags"></app-tag-list>
    </div>
  </div>
  <footer class="card-footer is-size-6 has-text-grey">
    <div *ngIf="Data?.Location">
      <div class="card-footer-item">
        {{ Data?.Location }}
      </div>
    </div>
    <div *ngIf="Data?.Date" class="card-footer-item">{{ Data?.Date }}</div>
  </footer>
</div>
