<div class="card">
  <a *ngIf="Data?.Link" [href]="Data?.Link" target="_blank">
    <header class="card-header">
      <p class="card-header-title">{{ Data?.Title }}</p>
    </header>
  </a>
  <header *ngIf="!Data?.Link" class="card-header">
    <p class="card-header-title">{{ Data?.Title }}</p>
  </header>

  <div class="card-content">
    <h4>{{ Data?.ContentTitle }}</h4>
    <ng-content class="content"></ng-content>
    <div>
      <app-tag-list [Tags]="Data?.Tags"></app-tag-list>
    </div>
  </div>
  <footer class="card-footer is-size-6-desktop is-size-5-mobile">
    <div *ngIf="Data?.Location">
      <div class="card-footer-item">
        {{ Data?.Location }}
      </div>
    </div>
    <div *ngIf="Data?.Date" class="card-footer-item">{{ Data?.Date }}</div>
  </footer>
</div>
