<div class="container">
  <app-cv-contact></app-cv-contact>
  <app-cv-section Title="Education" Icon="school">
    <div class="columns is-multiline">
      <app-cv-entry-card
        class="column is-4"
        *ngFor="let educationItem of data?.Education"
        [Data]="educationItem"
        ><div [innerHTML]="educationItem.Content"></div>
      </app-cv-entry-card>
    </div>
  </app-cv-section>

  <app-cv-section Title="Work" Icon="work">
    <div class="columns is-multiline">
      <div *ngFor="let workItem of data?.Work" class="column is-one-third">
        <app-cv-entry-card [Data]="workItem">
          <p [innerHTML]="workItem.Content"></p>
          <p
            class="has-text-grey"
            *ngIf="workItem.Organization"
            [innerHTML]="workItem.Organization"
          ></p>
        </app-cv-entry-card>
      </div>
    </div>
  </app-cv-section>

  <app-cv-section Title="Languages" Icon="language">
    <div class="columns is-multiline">
      <app-language-progress
        *ngFor="let language of data?.Languages"
        class="column is-one-quarter"
        [Title]="language.Language"
        [Level]="language.Level"
        [Value]="language.Value"
      ></app-language-progress>
    </div>
  </app-cv-section>

  <div class="columns">
    <app-cv-section class="column is-half" Title="Achievements" Icon="trophy">
      <div class="list">
        <div class="list-item" *ngFor="let achievement of data?.Achievements">
          <div class="list-item-content">
            <div class="list-item-title">
              {{ achievement.Title }}
            </div>
            <div class="list-item-description">{{ achievement.Content }}</div>
          </div>
        </div>
      </div>
    </app-cv-section>
    <app-cv-section class="column is-half" Title="Workshops" Icon="award_star">
      <div class="list">
        <div class="list-item" *ngFor="let workshop of data?.Workshops">
          <div class="list-item-content">
            <div class="list-item-title">
              {{ workshop.Title }}, {{ workshop.Location }}, {{ workshop.Date }}
            </div>
            <div class="list-item-description">{{ workshop.Content }}</div>
          </div>
        </div>
      </div>
    </app-cv-section>
  </div>
  <div class="columns is-multiline">
    <app-cv-section
      class="column is-one-third"
      Title="Technologies"
      Icon="integration_instructions"
    >
      <app-tag-list class="box" [Tags]="data?.Technologies"></app-tag-list>
    </app-cv-section>
    <app-cv-section class="column is-one-third" Title="Languages" Icon="code">
      <app-skills-list
        class="box"
        [Skills]="data?.ProgrammingLanguages"
      ></app-skills-list>
    </app-cv-section>
    <app-cv-section class="column is-one-third" Title="Tools" Icon="build">
      <app-tag-list class="box" [Tags]="data?.Tools"></app-tag-list>
    </app-cv-section>
    <app-cv-section class="column is-one-third" Title="Systems" Icon="devices">
      <app-tag-list class="box" [Tags]="data?.Systems"></app-tag-list>
    </app-cv-section>

    <app-cv-section class="column is-one-third" Title="Org" Icon="view_kanban">
      <app-tag-list class="box" [Tags]="data?.Organizational"></app-tag-list>
    </app-cv-section>

    <app-cv-section
      class="column is-full"
      Title="Additional Skills"
      Icon="info"
    >
      <app-tag-list class="box" [Tags]="data?.Skills"></app-tag-list>
    </app-cv-section>

    <app-cv-section
      class="column is-full"
      Title="Volunteering"
      Icon="volunteer_activism"
    >
      <div class="columns is-multiline">
        <div
          *ngFor="let volunteerItem of data?.Volunteering"
          class="column is-one-third"
        >
          <app-cv-entry-card [Data]="volunteerItem">
            <div [innerHTML]="volunteerItem.Content"></div>
          </app-cv-entry-card>
        </div>
      </div>
    </app-cv-section>

    <app-cv-section
      class="column is-full"
      Title="Interests"
      Icon="sports_basketball"
    >
      <app-tag-list class="box" [Tags]="data?.Interests"></app-tag-list>
    </app-cv-section>
  </div>
</div>
