<app-navigation></app-navigation>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="has-text-centered has-text-grey">
    <p class="icon-text">
      <span> Copyright </span>
      <span class="icon">
        <i class="material-symbols-outlined">copyright</i>
      </span>
      <span> {{ Year }} Bernard Epp </span>
    </p>
    <!-- <p>Copyright © {{ Year }} Bernard Epp</p> -->
    <br />
    <p class="icon-text">
      <span> Created with </span>
      <span class="icon">
        <i class="material-symbols-outlined">favorite</i>
      </span>
      <span> Please share </span>
      <span class="icon">
        <i class="material-symbols-outlined">favorite</i>
      </span>
    </p>
  </div>
</footer>
