<div class="section columns">
  <div class="column is-three-quarters">
    <h2>Bernard Epp</h2>
    <p>Stuttgart, Germany</p>
  </div>
  <div class="column">
    <a href="mailto:bernard.epp@acommo.com">
      <div class="icon-text">
        <span class="icon">
          <i class="material-symbols-outlined">arrow_forward</i>
        </span>

        <span> {{ Email }} </span>
      </div>
    </a>
    <a href="https://github.com/BernardEpp" target="_blank">
      <div class="icon-text">
        <span class="icon">
          <i class="material-symbols-outlined">arrow_forward</i>
        </span>

        <span> Github </span>
      </div>
    </a>
    <a
      href="https://www.linkedin.com/in/bernard-epp-822b22241/"
      target="_blank"
    >
      <div class="icon-text">
        <span class="icon">
          <i class="material-symbols-outlined">arrow_forward</i>
        </span>
        <span> LinkedIn </span>
      </div>
    </a>
  </div>
</div>
