<div class="card">
  <header class="card-header">
    <p class="card-header-title">{{ title }}</p>
  </header>
  <div class="card-content">
    <div class="content">
      <p *ngIf="subtitle" class="subtitle is-6 has-text-grey">{{ subtitle }}</p>
      <ng-content></ng-content>
    </div>
    <div>
      <app-tag-list [Tags]="tags"></app-tag-list>
    </div>
  </div>
  <footer class="card-footer is-size-6 has-text-grey">
    <p class="card-footer-item">
      <span>
        View on
        <a href="{{ repoUrl }}">Github</a>
      </span>
    </p>
  </footer>
</div>
