<div class="card">
  <header class="card-header">
    <p class="card-header-title">{{ data?.title }}</p>
  </header>
  <div class="card-content">
    <div class="content">
      <span *ngIf="data?.date" class="subtitle is-6 has-text-grey">
        {{ data?.date }}
      </span>
      <p *ngIf="data?.subtitle" class="subtitle is-6 has-text-grey">
        {{ data?.subtitle }}
      </p>

      <ng-content mt-3></ng-content>
    </div>
    <div>
      <app-tag-list [Tags]="data?.tags"></app-tag-list>
    </div>
  </div>
  <footer class="card-footer is-size-6 has-text-grey">
    <div *ngIf="data?.repoUrl" class="card-footer-item">
      <span
        >View on <a href="{{ data?.repoUrl }}" target="_blank">Github</a>
      </span>
    </div>
    <div *ngIf="data?.courseUrl" class="card-footer-item">
      <span
        >View Course
        <a href="{{ data?.courseUrl }}" target="_blank"> Website</a></span
      >
    </div>
  </footer>
</div>
