<div class="card">
  <!-- <header class="card-header">
    <p class="card-header-title">THis is my header</p>
  </header> -->
  <div class="content">
    <div class="section">
      <p class="title is-4">{{ title }}</p>
      <div class="subtitle is-6 has-text-grey">
        <time> {{ date }} </time>
        <br />
        <span> {{ subtitle }} </span>
        <br />
        <ng-container *ngFor="let tag of tags">
          <span class="tag ml-0 mr-2 mt-1 bt-1"> {{ tag }} </span>
        </ng-container>
      </div>
      <br />
      {{ content }}
    </div>
  </div>
  <footer class="card-footer">
    <!-- <div class="card-footer-item">
      <ng-container *ngFor="let tag of tags">
        <span class="tag m-1"> {{ tag }} </span>
      </ng-container>
    </div> -->
    <p class="card-footer-item">
      <span>
        View on
        <a href="{{ repoUrl }}">Github</a>
      </span>
    </p>
  </footer>
</div>
