<section class="hero">
  <div class="container">
    <div class="hero-body">
      <div class="title">
        <figure class="image is-128x128">
          <img class="is-rounded" src="assets/DSCF2952-tiny.jpg" />
        </figure>
        <p>Hello I'm Bernard</p>
      </div>
      <p class="subitle">This is my personal small website.</p>
    </div>
  </div>
</section>

<!-- <div>
  <figure class="image is-128x128">
    <img class="is-rounded" src="assets/DSCF2952-tiny.jpg" />
  </figure>

  <section class="section is-medium">
    <h1 class="title">Hi I'm Bernard</h1>
    <h2 class="subitle">This is my personal small website.</h2>
  </section>
</div> -->
