<section class="hero">
  <div class="container">
    <div class="hero-body">
      <div class="title">
        <figure class="image is-128x128">
          <img class="is-rounded" src="assets/profile-picture.jpeg" />
        </figure>
        <p>Hello I'm Bernard</p>
      </div>
      <p class="subitle">This is my personal small website.</p>
      <div class="content">
        <div class="m-3">
          <a routerLink="/cv" isRouterLinkActive="active">
            <span class="icon-text">
              <span class="icon">
                <i class="material-symbols-outlined">arrow_forward</i>
              </span>

              <span>Check out my CV</span>
            </span>
          </a>
        </div>
        <div class="m-3">
          <a routerLink="/projects" isRouterLinkActive="active">
            <span class="icon-text">
              <span class="icon">
                <i class="material-symbols-outlined">arrow_forward</i>
              </span>

              <span>Check out my Projects</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
